<section id="talleres">
    <div id='about-header'>
        <h3 class="animate__animated animate__bounce">Arte Sushi</h3>
        <p>Te invitamos a esta hermosa experiencia teórico-práctica para conectar con el arte del sushi y a través de la creatividad logar incorporarlo a tu alimentación como algo cotidiano. En este taller vamos a conocer y aprender a utilizar los ingredientes
            y las técnicas que necesitas para poder crear tus propias variedades, asi como también algunas clásicas. La intención es que te lleves todas las herramientas posibles para poder desarrollar una gran variedad de alimentos derivados del Sushi
            como elemento conector de sensaciones y través de ellas poder agasajar a tu familia y/o aplicar lo aprendido en emprendimientos gastronómicos.
        </p>
    </div>
    <div id="wrap-temario">
        <h3 class="animate__animated animate__bounce">Temario</h3>
        <div>
            <h4><i class="fas fa-fish"></i> Sushi Clásico / Combinaciónes y Complementos</h4>
            <ul>
                <li>Que es el sushi y que puede llegar ser.</li>
                <li>Arroz – La clave del Sushi (Métodos y técnicas para elaborlarlo)</li>
                <li>Variedades Clásicas y de autor.</li>
                <li>Ingredientes básicos y métodos de preparación</li>
                <li>Preparaciones: Roles, Nigiris, Salsas, Wasabi y más!</li>
            </ul>
        </div>
        <div>
            <h4><i class="fas fa-fish"></i> Sushi Caliente</h4>
            <ul>
                <li>Introducción del sushi como alimento saludable.</li>
                <li>Tips para crear tus propia variedades</li>
                <li>Introducción del sushi como alimento saludable.</li>
                <li>Preparaciones: Sushi Ceviche Roll & variedades de Gohan.</li>
            </ul>
        </div>
    </div>
    <div id="about-img">
        <img class="animate__animated animate__fadeIn" src="../../../assets/img/person.jpg" alt="">
    </div>
    <div id="modality">
        <h3 class="animate__animated animate__fadeIn">Modalidades</h3>
        <div id="basic-class">
            <h4><i class="fas fa-user-graduate"></i> Clase Básica</h4>
            <h5>Objetivo: Identificar las tareas principales </h5>
            <ul>
                <li>Elaboración de arroz</li>
                <li>Elaboración Sazón</li>
                <li>Elaboración Tamago</li>
                <li>Técnica de Enrolado</li>
                <li>Rolls Clásicos</li>
                <li>Técnica de cortes de Roll</li>
            </ul>
        </div>
        <div id="professional-class">
            <h4><i class="fas fa-user-graduate"></i> Clase Profesional</h4>
            <h5>Objetivo: Identificar las tareas principales </h5>
            <ul>
                <li>Elaboración de arroz</li>
                <li>Elaboración Sazón</li>
                <li>Elaboración Tamago</li>
                <li>Técnica de Enrolado</li>
                <li>Rolls Clásicos</li>
                <li>Rolls Calientes</li>
                <li>Técnica de cortes de Roll</li>
                <li>Técnica de Sashimis</li>
                <li>Técnica de Niguiris</li>
            </ul>
        </div>
        <div id="master-class">
            <h4><i class="fas fa-user-graduate"></i> Master Class</h4>
            <h5>Objetivo: Identificar las tareas principales </h5>
            <ul>
                <li>Elaboración de arroz</li>
                <li>Elaboración Sazón</li>
                <li>Elaboración Tamago</li>
                <li>Técnica de Enrolado</li>
                <li>Rolls Clásicos</li>
                <li>Rolls Calientes</li>
                <li>Rolls de Autor</li>
                <li>Técnica de cortes de Roll</li>
                <li>Técnica de Sashimis</li>
                <li>Técnica de Niguiris</li>
                <li>Limpieza de Salmón y otros Pescados</li>
                <li>Emplatado y Decoración</li>
                <li>Manejo de Personal</li>
            </ul>
        </div>

    </div>


</section>