<div class="galeria">
    <div><img src="./assets/img/slider1.jpg" title="Funky roots"></div>
    <div><img src="/assets/img/slider2.jpg" title="The long and winding road"></div>
    <div><img src="/assets/img/slider3.jpg" title="Happy trees"></div>
    <div><img src="/assets/img/slider4.jpg" title="Amazing Work"></div>
</div>

<div id="body-container">
    <section id="articulos">
        <h2>¿Qué es Sushi Master?</h2>
        <article class="articles">
            <p>Te explico en 4 pasos de que se trata.
            </p>
        </article>
        <article class="articles">
            <h3><i class="fas fa-fish"></i> El nombre de Sushi Master</h3>
            <p>
                Es el nombre que le ponemos al estilo de sushi que hacemos , que se destaca del resto.
            </p>
        </article>
        <article class="articles">
            <h3><i class="fas fa-fish"></i> Nuestra Dedicación</h3>
            <p>
                Somos un grupo de profesionales que hacemos que el arte del sushi se vea y sienta en todo su esplandor.
            </p>
        </article>
        <article class="articles">
            <h3><i class="fas fa-fish"></i> ¿Cuál es el objetivo más grande que tenemos?
            </h3>
            <p>
                Nuestro objetivo consiste es que el arte que hacemos con tanta pasión y disciplina , sea valorada como un estilo de vida.
            </p>
        </article>
        <article class="articles">
            <h3><i class="fas fa-fish"></i> El Sushi como estilo de vida
            </h3>
            <p>
                ¿Por qué tomamos el sushi como ejemplo de vida? Por qué es un arte que tiene ,pasión , disciplina , respeto , armonía , ingredientes esenciales para que podamos llevar un vida mejor.
            </p>
        </article>
    </section>
    <aside>
        <div id="marcas">
            <h3>Nuestro Fiel Proovedor</h3>
            <a href="https://mariscos.com.ar/" target="_blank" liens_ouvrants><img src="../../../assets/img/patagonica.png" alt=""></a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, minima?</p>
        </div>

    </aside>
</div>